Repository aws/sagemaker-python-sdk, pull requests merged in 2021-08, with the labels that each got.

#2506 feature: support JsonGet for all step types
  doc/workflows/pipelines/sagemaker.workflow.pipelines.rst
  src/sagemaker/workflow/condition_step.py
  src/sagemaker/workflow/functions.py
  tests/unit/sagemaker/workflow/test_functions.py
Labels: component: pipelines

#2533 fix: update `sagemaker.serverless` integration test
  tests/conftest.py
  tests/integ/test_serverless.py
Labels: bug, serverless

#2558 documentation: Document LambdaModel and LambdaPredictor classes
  doc/api/inference/model.rst
  doc/api/inference/predictors.rst
  doc/overview.rst
Labels: type: documentation, serverless

#2429 documentation: clarify that default_bucket creates a bucket
  src/sagemaker/session.py
Labels: type: documentation

#2551 support tuning step parameter range parameterization + support retry strategy in tuner
  doc/workflows/pipelines/sagemaker.workflow.pipelines.rst
  src/sagemaker/parameter.py
  src/sagemaker/session.py
  src/sagemaker/tuner.py
  src/sagemaker/workflow/pipeline.py
  tests/integ/test_workflow.py
  tests/unit/sagemaker/workflow/test_steps.py
Labels: component: pipelines

#2441 feature: add pytorch 1.5.1 eia configuration
  src/sagemaker/image_uri_config/pytorch.json
  tests/unit/sagemaker/image_uris/test_dlc_frameworks.py
Labels: PyTorch

#2552 fix: deprecate tag logic on Association
  src/sagemaker/lineage/association.py
Labels: component: lineage

#2338 feature: deference symbolic link when create tar file of source and dependencies
  src/sagemaker/utils.py
Labels: type: feature request

#2586 fix: pass network isolation config to pipelineModel
  src/sagemaker/automl/automl.py
Labels: bug
