Repository aws/sagemaker-python-sdk, pull requests merged in 2021-06, with the labels that each got.

#2424 feature: Add HF transformer version 4.6.1
  src/sagemaker/image_uri_config/huggingface.json
Labels: related: HuggingFace

#2446 change: Add configuration option with headers for Clarify Explainability
  src/sagemaker/clarify.py
  tests/unit/test_clarify.py
Labels: component: clarify

#2493 documentation: smddp 1.2.1 release note / convert md to rst
  doc/api/training/sdp_versions/latest.rst
  doc/api/training/sdp_versions/latest/smd_data_parallel_tensorflow.rst
  doc/api/training/smd_data_parallel.rst
  doc/api/training/smd_data_parallel_release_notes/smd_data_parallel_change_log.md
  doc/api/training/smd_data_parallel_release_notes/smd_data_parallel_change_log.rst
Labels: type: documentation
